*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}

body{
    background-color:black;
    color:white;
   }
@media (300px<=width<=780px){
    body{
        background-color: green;
    }
    
}
@media(max-width:400px){
    .navbar-brand{
        display:none;
    }
}
@media(min-width:400px){
    #two{
        display:none;
    }
    
}
.table{
    margin:20px;
}
.title{
    height:50px;
    background-color: burlywood;
    color:black;
    font-size:30px;
    text-align:center;
}
p{
    color:white;
    font-size:16px;
    margin:15px;
    padding:10px;
}
.header{
    padding:10px;
    margin-bottom:10px;
    margin-left: 10px;
    background-color: salmon;
    font-style:bold;
    font-size: 20px;
    color:white;
}
.section{
    border-radius:10px;
    border:2px solid green;
    background-color: black;
}
/* nav{
    height:38px;
    width:100%;
    padding: 10px;
    background-color:grey;
    margin-bottom:15px;
} */
/*ul>li{
    padding:15px;
    
    margin:10px;
    display:inline;
    
}*/
/* ul{
    background-color: grey;
    margin:0;
    padding:0;
    list-style-type: none;
}
li{
    float:left;
    display:inline;
}
a{
    text-decoration: none;
    padding:10px;
    color:rgb(210,255,196);
} */
/*a{
    color:rgb(210, 255, 196);
    text-decoration: none;
    display:block;
    padding:10px;
    text-align: center;
}*/
/* a:hover{
    background-color:salmon;
}
a:visited{
    color:white;
}
article,aside{
    background-color: blueviolet;
    margin-top: 25px;
} */
footer{
    background-color: cadetblue;
    height: 40px;
    text-align:center;
}
.wraper{
    width:500px;
    display:flex;
    flex-wrap:wrap;
}
.wraper >div{
    flex:1 1 120px;
}
.grid{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    margin:10px;
    gap:10px;
    
}
.calculate{
    height:auto;
    width:350px;
    margin:40px auto;
    padding:5px;
    border-radius:20px;
    border:2px solid grey;
    background-color: black;
} 
.calc{
    height:80px;
    background-color: white;
    border-radius: 10px;
    margin:10px;
    
}
.number{
    color:white;
    background-color: black;
    padding:5px;
    border-radius: 10px;
    font-size:40px;
    border-color:grey;
}
.clear{
    color: red;
    padding:5px;
    border-radius: 10px;
    font-size:40px;
}
.operation{
    padding:5px;
    border-radius: 10px;
    color:green;
    font-size:40px;
}
.equal{
    background-color: green;
    border-radius: 10px;
    font-size: 40px;
    padding:5px;
    color:white;
}
button:hover{
    background-color: grey;
}   